:host {
    /* Styles for pushing the footer to the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}