


<div class="container mx-auto">
  <h1 class="text-center">GitHub Repository Health Checker</h1>

  <div class="row">    
    <div class="col-6">
      <label>GitHub Repository URL:</label>
      <input [(ngModel)]="githubUrl" id="githubUrl" placeholder="GitHub URL" />

    </div>
    <div class="col-6">
      <button (click)="fetchUserData()">Check Files</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <ul *ngIf="fileStatuses">
        <li *ngFor="let f of fileList">
          {{ fileStatuses[f] ? '✅ ' + f + ' Exists' : '❌ ' + f + 'Missing' }}
        </li>
        <li *ngIf="hasRecent === true">✅ Repo has recent commits in the last 6 months</li>
        <li *ngIf="hasRecent === false">❌ Repo has no commits in the last 6 months</li>
        <li *ngIf="hasRecent === null">⚠️ Repository not found</li>
        <li *ngIf="hasActions !== null">
          {{ hasActions ? '✅ Repository uses GitHub Actions' : '❌ Repository does not use GitHub Actions' }}
        </li>
      </ul>
    </div>
    <div class="col-4">
      
    </div>
    <div class="col-4">
      
    </div>
  </div>
</div>
